.aboutContent {
  border: 2px solid #2c4047;
  padding: 20px;
  flex-direction: column;
}

.aboutImage {
  padding: 20px;
  background: #2c4047;
}

.aboutContent,
.aboutImage,
.aboutContainer {
  display: flex;
}
.aboutSection {
  padding: 20px;
  margin: auto;
  width: 70%;
}
